{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/general_style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block header %}{% endblock %}

    <title>{{title}}</title>
</head>

<body>

<header>
    <h1>Whatsapp Analyzer</h1>

    <nav>
        {% block header_nav %}
        {% endblock %}
    </nav>
</header>

{% block content %}{% endblock %}

</body>

{% block footer %}{% endblock %}

</html>
